<section
  id="sobre-mi"
  data-section="sobre-mi"
  class="section undefined w-full mx-auto lg:w-[740px] pb-24 mt-24"
>
  <h2
    class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
  >
    <svg
      class="size-7"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path
        d="M6 21v-2a4 4 0 0 1 4 -4h4"></path><path d="M15 19l2 2l4 -4"
      ></path></svg
    >
    Sobre mi
  </h2>
  <article class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-yellow-400/90 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
      <p>
        Me llamo Miguel Ángel pero mis amigos me llaman midu. Empecé en la
        programación con un Amstrad, tenía 10 años. Actualmente estoy <strong
          >liderando equipos de desarrollo en multinacionales</strong
        >.
      </p>
      <p>
        Algunos de mis éxitos incluyen <strong
          >colaborar con Mozilla para el desarrollo de las primeras apps en su
          sistema FirefoxOS</strong
        >. Aunque hoy está desaparecido fue un gran avance en el mundo del
        desarrollo web.
      </p>
      <p>
        Como creador de contenido, <strong
          >cuento con el canal de habla hispana más visto del mundo en la
          categoría de <em class="italic">Software &amp; Game Development</em> en
          Twitch</strong
        >. Mi objetivo es mejorar la empleabilidad de la comunidad hispana y el
        acceso a contenido de calidad.
      </p>
    </div>
    <img
      src="/profile.jpeg"
      class="rounded-full size-64 md:w-full md:h-52 order-1 md:order-2 object-cover"
      alt="Wilberk Ledezma picture"
    />
  </article>
</section>
