---
import Subtitle from "./Subtitle.astro";
import AboutMeIcon from "../components/Icons/AboutMeIcon.astro";
---

<section
  id="sobre-mi"
  data-section="sobre-mi"
  class="section undefined w-full mx-auto lg:w-[740px] pb-24 mt-24"
>
  <Subtitle subtitle="Sobre mí">
    <AboutMeIcon />
  </Subtitle>

  <article class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
      class="text-zinc-400 [&>p]:mb-4 [&>p>strong]:text-yellow-400/90 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
      <p>
        Me llamo Miguel Ángel pero mis amigos me llaman midu. Empecé en la
        programación con un Amstrad, tenía 10 años. Actualmente estoy <strong
          >liderando equipos de desarrollo en multinacionales</strong
        >.
      </p>
      <p>
        Algunos de mis éxitos incluyen <strong
          >colaborar con Mozilla para el desarrollo de las primeras apps en su
          sistema FirefoxOS</strong
        >. Aunque hoy está desaparecido fue un gran avance en el mundo del
        desarrollo web.
      </p>
      <p>
        Como creador de contenido, <strong
          >cuento con el canal de habla hispana más visto del mundo en la
          categoría de <em class="italic">Software &amp; Game Development</em> en
          Twitch</strong
        >. Mi objetivo es mejorar la empleabilidad de la comunidad hispana y el
        acceso a contenido de calidad.
      </p>
    </div>
    <img
      src="/profile.jpeg"
      class="rounded-full size-64 md:w-full md:h-52 order-1 md:order-2 object-cover"
      alt="Wilberk Ledezma picture"
    />
  </article>
</section>
