---
import Subtitle from "./Subtitle.astro";
import AboutMeIcon from "../components/Icons/AboutMeIcon.astro";
import { Image } from "astro:assets";
import avatar from "/public/profile.jpeg";
---

<section
  id="sobre-mi"
  data-section="sobre-mi"
  class="section undefined w-full mx-auto lg:w-[740px] pb-24 mt-24"
>
  <Subtitle subtitle="Sobre mí">
    <AboutMeIcon />
  </Subtitle>

  <article class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
      class="text-zinc-300 [&>p]:mb-4 [&>p>strong]:text-yellow-400/90 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
      <p>
        Me llamo <strong>Wilberk Ledezma</strong> pero me gusta que me llamen <strong
          >webzma</strong
        >. Soy estudiante en informática, actualmente estoy <strong
          >liderando un equipo de desarrollo para un proyecto de mi universidad</strong
        >.
      </p>
      <p>
        La primera vez que toqué un lenguaje informático fué a las 16 años, <strong
          >lo primero que toqué en mi vida fué HTML
        </strong>, luego aprendí <strong>JavaScript</strong> y me decidí por el <strong
          >desarrollo frontend</strong
        >.
      </p>
      <p>
        Mi objetivo es <strong>
          obtener una posición de desarrollador frontend
        </strong> en una empresa que me permita <strong
          >desarrollar mis habilidades, y aprender nuevas tecnologías</strong
        >.
      </p>
    </div>
    <Image
      src={avatar}
      class="rounded-full size-64 md:w-full md:h-64 order-1 md:order-2 object-cover"
      alt="Wilberk Ledezma picture"
    />
  </article>
</section>
