---
interface Props {
  contentBadge: string;
}

const { contentBadge } = Astro.props;
---

<a
  target="_blank"
  rel="noopener"
  href="#"
  class="py-1 border-2 border-green-400 mb-4 block max-w-40 text-center bg-green-500/30 text-green-400 text-xs font-medium rounded-2xl"
>
  {contentBadge}
</a>

<style>
  a {
    overflow: hidden;

    position: relative;
  }

  a:before {
    animation: shine 1.8s ease-out infinite;
  }

  a::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(100, 207, 100, 0.747),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }

  @keyframes shine {
    0% {
      left: -100px;
    }

    60% {
      left: 100%;
    }

    to {
      left: 100%;
    }
  }
</style>
