---
import Subtitle from "./Subtitle.astro";
import CerttificationsIcon from "./Icons/CertificationsIcon.astro";
import data from "../config/data";
import sortDate from "../utils/sortDate";

const certificates = sortDate(data.certificates).slice(0, 6);
---

<section class="mt-24" id="certifications">
  <Subtitle subtitle="Certificaciones">
    <CerttificationsIcon />
  </Subtitle>

  {
    certificates.map(({ name, date, url, icon }) => (
      <a
        class="mb-4 group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:border-neutral-400 md:flex-row md:items-center"
        href={url}
        target="_blank"
        rel="noreferrer"
      >
        <div class="flex flex-col gap-4 md:flex-row md:items-center">
          <img class="size-14" src={icon} alt="asa" width="80" height="80" />
          <div>
            <p class="text-zinc-300 font-medium text-lg">{name}</p>
            <p class="text-xs text-yellow-400/90">
              {date.replaceAll("-", "/")}
            </p>
          </div>
        </div>
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          class="transition-all duration-300 group-hover:translate-x-1"
        >
          <path
            d="M5.25 12.75L12.75 5.25"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5.25 5.25H12.75V12.75"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    ))
  }

  <a
    href="/certifications"
    class="underline hover:text-yellow-400 text-[3d4d4d8] font-semibold underline-offset-4"
    >Ver todos los certificados
  </a>
</section>
