<footer class="py-6 md:py-0 b border-zinc-400/20 border-t-[1px]">
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row"
  >
    <p
      class="text-balance text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      Built by<!-- -->
      <a
        href="https://twitter.com/shadcn"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4">shadcn</a
      >. The source code is available on<!-- -->
      <a
        href="https://github.com/shadcn-ui/ui"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4">GitHub</a
      >.
    </p>
  </div>
</footer>
