<footer class="py-6 md:py-0 b border-zinc-400/20 border-t-[1px]">
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row"
  >
    <p
      class="text-zinc-400 text-balance text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      © 2024 casi todos los derechos reservados. ❤️ Hecho con amor por
      <a
        href="https://twitter.com/webzmadev"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4 text-white"
        >Wilberk Ledezma.
      </a>
    </p>
  </div>
</footer>
