<footer class="py-6 md:py-0 b border-neutral-700 border-t-[1px]">
  <div class="container flex items-center justify-center gap-4 md:h-24">
    <p
      class="text-zinc-300 text-balance text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      Hecho con ❤️ por
      <a
        href="https://twitter.com/webzmadev"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4 text-white"
        >Wilberk Ledezma.
      </a>
    </p>
  </div>
</footer>
