---
const { url } = Astro.props;
import GithubRepoIcon from "./Icons/GithubRepoIcon.astro";
---

<a
  href={url}
  class="text-zinc-300 py-2 flex gap-1 items-center px-4 text-[14px] border-neutral-700 border p-4 transition-all duration-300 hover:border-neutral-400 cursor-pointer text-sm rounded-xl"
>
  <GithubRepoIcon />
  Ver código fuente
</a>
