---
import Subtitle from "./Subtitle.astro";
import ProjectsIcon from "./Icons/ProjectsIcon.astro";
import Project from "./Project.astro";
---

<section id="proyectos">
  <Subtitle subtitle="Proyectos">
    <ProjectsIcon />
  </Subtitle>

  <div>
    <Project
      projectTitle="Todo App"
      projectDescription="Una hermosa app para registrar las tareas cotidianas"
      projectImageUrl="/todo-app-project.jpg"
    />

    <Project
      projectTitle="Tic Tac Toe"
      projectDescription="Un juego muy divertido para que te diviertas con tus amigos en tus tiempos libres"
      projectImageUrl="/tic-tac-toe-project.jpg"
    />

    <Project
      projectTitle="Countries App"
      projectDescription="App que te muestra información relevante de todos los países del mundo"
      projectImageUrl="/countries-app-project.jpg"
    />
  </div>
</section>
