---
import WorkIcon from "./Icons/WorkIcon.astro";
import Subtitle from "./Subtitle.astro";
---

<section id="work" class="mt-36">
  <Subtitle subtitle="Experiencia laboral">
    <WorkIcon />
  </Subtitle>

  <ol class="relative mt-16">
    <li class="">
      <div
        class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-4 md:gap-10 md:space-x-4]"
      >
        <div class="relative pb-6 md:col-span-3">
          <div class="sticky top-0">
            <span
              class="text-yellow-400/90 -left-[42px] absolute rounded-full text-5xl"
              >•</span
            >
            <h3 class="text-2xl md:text-3xl font-bold text-yellow-400/90">
              Frontend Web Developer
            </h3>
            <h4 class="font-semibold text-xl text-gray-600 dark:text-white">
              Series.ly
            </h4>
            <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
              >Actualmente...</time
            >
          </div>
        </div>
        <div
          class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3"
        >
        En mi rol como Desarrollador Frontend Web, me responsabilicé de la creación y el mantenimiento de la interfaz de usuario de Series.ly. Entre mis principales responsabilidades se encontraban:
        </div>
      </div>
    </li>

  </ol>
</section>
