---
import Subtitle from "./Subtitle.astro";
---

<section id="work">
  <Subtitle subtitle="Work">
    <p>Colocar el icono de work, (debe ser igual en dimensiones a los demás).</p>
  </Subtitle>
</section>